.chat-screen {
  background-image: url(../images/chatBg.jpg);
  min-height: 100vh;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  padding: 10px 0px;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  margin: 0 auto;
  padding: 0px 20px;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fcfcfc;
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  justify-content: space-between;
  align-items: center;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-end;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
}

.incomming__message {
  align-self: flex-start;
}

.sent__message {
  align-self: flex-end;
}

.incomming__message img {
  margin-right: 15px;
  width: 40px;
  border-radius: 50%;
}

.message .message__bubble {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  display: block;
}

.incomming__message .message__author {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.incomming__message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #56ccf2, #2f80ed);
}

.sent__message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #56ccf2, #2f80ed);
}
